@import '../../sass/variables.scss';

.pay-page-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.pay-buttons-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    button {
        border: none;
        border-radius: 10px;
        margin: 5px 0px;
        background-color: $darkGrey;
        color: $white;
        box-sizing: border-box;
        padding: 10px;
        &:focus {
            outline: none;
        }
    }
}

.card_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card_element {
    background-color: $white;
    padding: 5px;
    border-radius: 5px;
}

#pay_button {
    background-color: rgb(47, 163, 47);
}