// Color pallet
$darkYellow: rgb(243, 195, 73);
$lightYellow: #ffe59e;
$black: #050504;
$darkGrey: #1f1f1f;
$grey: rgb(148, 148, 148);
$white: white;



$theme-colors: (
    "darkYellow": $darkYellow,
    "lightYellow": $lightYellow,
    "black": $black,
    "darkGrey": $darkGrey,
    "grey": $grey,
    "white": $white
    );
    
@import "node_modules/bootstrap/scss/bootstrap";