@import '../../sass/variables.scss';

.admin-portal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        border: none;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px;
        width: 90vw;
        margin: 10px 0px;
        background-color: $darkGrey;
        color: $white;
        &:focus {
            outline: none;
        }
    }
}
.sub-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    padding: 25px;

}

#sub-button {
    background-color: $grey;
}



#admin-button-checked {
    width: 50px;
    margin: 10px;
    background-color: green;
}
#admin-button-not-checked {
    width: 50px;
    margin: 10px;
}

.admin-checkbox-container {

    display: flex;
    align-content: center;
    align-items: center;
    
}
#submit-new-renter-btn {
    background-color: green;
    width: 100%;
}