@import '../../sass/variables.scss';

.portal-page-container {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, $darkYellow, $lightYellow);
    padding-top: 50px;
    display: flex;
    justify-content: center;
    .user-info-box {
        width: 90%;
        height: 300px;
        background-color: $white;
        border-radius: 10px;
    }
}