@import '../../../sass/variables.scss';
.new-renter-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    input {
        border-radius: 10px;
        outline: none;
        border: none;
        box-sizing: border-box;
        padding: 5px 10px;
        font-size: large;
    }
}