@import '../../sass/variables.scss';
#request-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100vw;
    padding: 0 10px;
}
#option-list {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    display: inline-grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}

// emergency
// bathroom
// bedroom,
// yard
// kitchen
// living_room
// exterior
// appliance
// plumbing
// electrical
// other
#selected-button {
    background-color: red;
}

