#property-list-table {
    // width: 100%;
    border-radius: 10px;
    max-width: 90vw;

}

.table-responsive {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .occupants {
        display: none;
    }
}