@import './sass/variables.scss';

.App {
  font-family: 'Roboto', sans-serif;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(0deg, $darkYellow, $lightYellow);
  min-height: 100vh;
  padding: 50px 0;
}